.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-grey);
    /* background-color: var(--dark-grey); */
    /* box-shadow: 0 0 10px 5px var(--neon-purple); */
    width: 16rem;
    height: fit-content;
    padding: 0 2rem 2rem 2rem;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .card img {
    height: 256px;
    width: 256px;
    margin-top: -20%;
    border-radius: 20px;
    display: block;
  }

@media (min-width: 600px) and (max-width: 900px) {
  .card img {
    height: 175px;
    width: 175px;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .card img {
    height: 175px;
    width: 175px;
  }
}

@media (min-width: 0px) and (max-width: 600px) {
  .card img {
    height: 10rem;
    width: 10rem;
  }
}
  
  .card h2 {
    margin: 0;
    margin-top: 1rem;
  }
  
  .card p {
    margin: 0;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }