:root {
    --neon-blue: #00FFFF;
    --neon-green: #00FF00;
    --neon-pink: #FF1493;
    --neon-orange: #FFA500;
    --neon-purple: #BA55D3;
    --neon-yellow: #FFD700;
    
    --hacker-green: #24f29c;
    --glitch-green: #1eff00;
    --jet-black: #000000;
    --dark-grey: #1E1E1E;
}

@font-face {
    font-family: 'SpaceGrotesk';
    src: url('../assets/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    background-color: var(--jet-black);
    font-family: 'SpaceGrotesk';
    font-size: 28px;
    color: #ffffff;
    z-index: 1;
}

.cyberpunk-background {
    position: fixed;
    /* margin-top: -60px; */
    background-image: url(../assets/image-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    z-index: -1;
}

.btn-glitch {
    /* set text styles */
    font-family: 'SpaceGrotesk', cursive;
    color: #ffffff;
    text-transform: uppercase;
    /* set border styles */
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(45deg, var(--neon-pink), var(--neon-blue));
    border-image-slice: 1;
    background: transparent;
    cursor: pointer;
}

.btn-glitch:hover,
.btn-glitch:focus {
    background: linear-gradient(45deg, var(--neon-pink), var(--neon-blue));
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
    pointer-events: none;
}

.link {
    text-decoration: none;
    color: inherit;
}

.heading {
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

.cv-heading {
    color: #ffffff;
    text-shadow: 0 0 20px rgba(0, 0, 0, 1);
    margin-left: 25px;
    font-size: 1.5em;
}

@media (max-width: 600px) {
    .heading {
      font-size: 0.75em;
    }
  }

.slick-list {
    overflow: visible !important;
}

.no-highlight {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera, and Firefox */
    cursor: pointer;
}

.no-scroll {
    overflow-y: hidden;
  }
