.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3rem;

    background: transparent;
    /* clip-path: polygon(0 0, 10px 0, 10px 8px, 5px 10px, 0 8px); */
    /* border-bottom: 5px solid var(--neon-pink); */
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-btn {
    font-size: 26px;
    z-index: 2;
    color: var(--neon-blue);
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.active {
    color: var(--neon-pink);
}

.navbar-backdrop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 225px;
    height: 60px;
    background-color: var(--dark-grey);
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
    z-index: -1;
  }

.navbar-shadow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 229px;
    height: 62px;
    clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 10% 100%);
    z-index: -2;
    background-color: rgba(0, 255, 255);
}