.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3rem;

    background: transparent;
    /* clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%); */
    /* border-bottom: 5px solid var(--neon-pink); */
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-btn {
    font-size: 26px;
    z-index: 2;
    color: var(--neon-blue);
    margin-top: 10px;
    margin-left: 4px;
    margin-right: 4px;
}

.fa-btn {
    margin-bottom: 2px;
    margin-right: 7px;
    margin-left: 6px;
}

.active {
    color: var(--neon-pink);
}