.sudokuBoard {
    position: absolute;
    top: 11vh;
    z-index: 1;
    /* left: 35vw; */
    /* height: 483px;
    width: 483px;
    box-shadow: 0 0 20px #FFD700; */
}

.puzzle-btn {
    position: absolute;
    top: 82vh;
    right: 50%;
    transform: translate(-67%, -0%);
    z-index: 1;
}

.step-btn {
    position: absolute;
    top: 82vh;
    left: 50%;
    transform: translate(67%, -0%);
    z-index: 1;
}