.xo-form {
    position: absolute;
    top: 70vh;
    left: 50%;
    transform: translate(-50%, -0%);
    width: min(85vw, 500px);
}

.xo-form button {
    font-size: 0.5em;
}

@media (min-width: 600px) and (max-width: 900px) {
    .xo-form {
        top: 70vh;
    }
    .xo-form button {
        font-size: 0.45em;
    }
}
  
@media (min-width: 0px) and (max-width: 600px) {
    .xo-form {
        top: 70vh;
    }
    .xo-form button {
        font-size: 0.4em;
    }
}